body {
    display: flex;
    flex-direction: column; /* 使元素垂直排列 */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    display: flex;
    gap: 10px;
    margin-top: 40px; /* 将图片下移一点，确保文本不被覆盖 */
}

.image-container img {
    width: 400px; /* 根据需要调整图片大小 */
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: translateY(-10px);
}

/* 通用按钮样式 */
.button {
    background-color: rgb(112, 255, 195); /* 按钮背景色 */
    color: rgb(255, 255, 255); /* 按钮文本色 */
    padding: 10px 40px; /* 按钮内边距 */
    border-radius: 15px; /* 边框圆角 */
    border: none; /* 无边框 */
    font-size: 2em; /* 文本大小 */
    cursor: pointer; /* 鼠标样式 */
    text-decoration: none; /* 移除超链接的下划线 */
    display: inline-block; /* 对齐按钮和链接 */
    margin-right: 20px; /* 按钮之间的间隔 */
}

.header-buttons {
    position: absolute;
    top: 20px; /* 调整以适应页面布局 */
    right: 30px; /* 调整以适应页面布局 */
    z-index: 10;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 30px; /* 放置在左上角 */
    z-index: 10;
}

/* 可以添加媒体查询来调整小屏幕的样式 */
@media (max-width: 600px) {
    .image-container img {
        width: 50px;
    }

    .header-buttons, .back-button {
        top: 10px;
        left: 15px;
        right: auto;
    }

    .header-buttons button, .back-button a {
        margin-right: 10px; /* 小屏幕上的按钮间隔 */
    }
}

.text-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.text-container h1 {
    font-size: 5em;
    color: #333;
    margin: 0;
}

.fixed-bottom-button {
    position: fixed; /* 固定位置 */
    bottom: 150px; /* 距离屏幕底部20px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 精确居中调整 */
    z-index: 1000; /* 确保在最上层 */
}

/* p3的滑动*/

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px; /* 添加一些内边距 */
}

.image-slider-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%; /* 页面宽度的40% */
    margin-top: 80px; /* 在顶部增加更多空间 */
    margin-bottom: 15px; /* 底部的间距保持不变 */
}

.image-slider-container img {
    width: 15%; /* 进一步减小图片宽度 */
    height: auto;
}

.image-slider-container input[type=range] {
    width: 10%; /* 进一步减小滑动条宽度 */
}
